.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
*.log.*
!src/scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
node_modules
publish/src
publish/package
demo-ng/lib
demo-ng/platforms
demo-ng/hooks
demo-ng/app/client_id.json

