.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
publish/src
publish/package
typingz
demo-ng/lib
demo-ng/platforms
demo-ng/node_modules
demo-ng/hooks
demo
demo-ng/app/client_id.json

