<ActionBar title="Testing Health Data" class="action-bar"></ActionBar>

<ScrollView>
    <StackLayout>
        <Button ios:text="Apple Health Data available?" android:text="Google Fit Data available?" (tap)="isAvailable()"></Button>
        <Button text="Is Authorized?" (tap)="isAuthorized()"></Button>
        <Button text="Request Authorization" (tap)="requestAuthForVariousTypes()"></Button>
        <Button text="Start background Heart Rate monitoring" (tap)="startMonitoringData('heartRate', 'count/min')"></Button>
        <Button text="Stop background Heart Rate monitoring" (tap)="stopMonitoringData('heartRate')"></Button>
        <Button text="Get Daily Steps per source (count)" (tap)="getData('steps', 'count', 'sourceAndDay')"></Button>
        <Button text="Get Hourly Distance data (km)" (tap)="getData('distance', 'km', 'hour')"></Button>
        <!--<Button text="Get Hourly Distance data (mi)" (tap)="getData('distance', 'mi', 'hour')"></Button>-->
        <Button text="Get Height (m)" (tap)="getData('height', 'm')"></Button>
        <Button text="Get Weight (kg)" (tap)="getData('weight', 'kg')"></Button>
        <Button text="Get Heart Rate (count/min)" (tap)="getData('heartRate', 'count/min')"></Button>
        <Button text="Get cardio pts (or minutes)" (tap)="getData('cardio', 'min')"></Button>
        <Button text="Get Fat percentage (%)" (tap)="getData('fatPercentage', '%')"></Button>
        <Button text="Get Calories (Cal)" (tap)="getData('calories', 'kcal')"></Button>
        <Button text="Get Sleep" (tap)="getData('sleep')"></Button>
        <Button text="Get Menstrual" (tap)="getData('menstrual')"></Button>
        <Button text="Get Ovulation" (tap)="getData('ovulation')"></Button>
        <Button text="Get Mucus" (tap)="getData('mucus')"></Button>
        <Label horizontalAlignment="center" [text]="resultToShow" textWrap="true"></Label>
    </StackLayout>
</ScrollView>