<ActionBar title="Testing Health Data" class="action-bar">
</ActionBar>
<ScrollView>
    <StackLayout>
        <Button ios:text="Apple Health Data available?" android:text="Google Fit Data available?" (tap)="isAvailable()"></Button>
        <Button text="Request Auth" (tap)="requestAuthForVariousTypes()"></Button>
        <Button text="Get Daily Step data per source" (tap)="getData('steps', 'count', 'sourceAndDay')"></Button>
        <Button text="Get Hourly Distance data (km)" (tap)="getData('distance', 'km', 'hour')"></Button>
        <Button text="Get Hourly Distance data (mi)" (tap)="getData('distance', 'mi', 'hour')"></Button>
        <Button text="Get Height (cm)" (tap)="getData('height', 'cm')"></Button>
        <Button text="Get Weight (kg)" (tap)="getData('weight', 'km')"></Button>
        <Label horizontalAlignment="center" [text]="resultToShow" textWrap="true"></Label>
    </StackLayout>
</ScrollView>
