<ActionBar title="Testing Health Data" class="action-bar"></ActionBar>
<GridLayout rows="auto,*">
    <Label row="0" horizontalAlignment="center" [text]="resultToShow" textWrap="true"></Label>
    <ScrollView row="1">
        <StackLayout>
            <Button ios:text="Apple Health Data available?" android:text="Google Fit Data available?"
                (tap)="isAvailable()" class="-primary -rounded-sm"></Button>
            <Button text="Is Authorized?" (tap)="isAuthorized()" class="-primary -rounded-sm"></Button>
            <Button text="Request Authorization" (tap)="requestAuthForVariousTypes()"
                class="-primary -rounded-sm"></Button>
            <Button text="Start background Heart Rate monitoring" (tap)="startMonitoringData('heartRate', 'count/min')"
                class="-primary -rounded-sm"></Button>
            <Button text="Stop background Heart Rate monitoring" (tap)="stopMonitoringData('heartRate')"
                class="-primary -rounded-sm"></Button>
            <Button text="Get Daily Steps per source (count)" (tap)="getData('steps', 'count', 'sourceAndDay')"
                class="-primary -rounded-sm"></Button>
            <Button text="Get Hourly Distance data (km)" (tap)="getData('distance', 'km', 'hour')"
                class="-primary -rounded-sm"></Button>
            <!--<Button text="Get Hourly Distance data (mi)" (tap)="getData('distance', 'mi', 'hour')"></Button>-->
            <Button text="Get Height (m)" (tap)="getData('height', 'm')" class="-primary -rounded-sm"></Button>
            <Button text="Get Weight (kg)" (tap)="getData('weight', 'kg')" class="-primary -rounded-sm"></Button>
            <Button text="Get Heart Rate (count/min)" (tap)="getData('heartRate', 'count/min')"
                class="-primary -rounded-sm"></Button>
            <Button text="Get cardio pts (or minutes)" (tap)="getData('cardio', 'min')"
                class="-primary -rounded-sm"></Button>
            <Button text="Get Fat percentage (%)" (tap)="getData('fatPercentage', '%')"
                class="-primary -rounded-sm"></Button>
            <Button text="Get Calories (Cal)" (tap)="getData('calories', 'kcal')" class="-primary -rounded-sm"></Button>
            <Button text="Get Sleep" (tap)="getData('sleep')" class="-primary -rounded-sm"></Button>
            <Button text="Get Menstrual" (tap)="getData('menstrual')" class="-primary -rounded-sm"></Button>
            <Button text="Get Ovulation" (tap)="getData('ovulation')" class="-primary -rounded-sm"></Button>
            <Button text="Get Mucus" (tap)="getData('mucus')" class="-primary -rounded-sm"></Button>
        </StackLayout>
    </ScrollView>
</GridLayout>
